# Chisel 生成的文件
generated/
test_run_dir/
target/

# Scala 编译输出
*.class
*.log

# sbt 特定文件
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/

# IDE 特定文件
.idea/
*.iml
.bsp/
.metals/
.vscode/

# Vivado 生成的文件
*.jou
*.log
*.str
*.xpr
SCPU/SCPU.cache/
SCPU/SCPU.hw/
SCPU/SCPU.ip_user_files/
SCPU/SCPU.runs/
SCPU/SCPU.sim/
SCPU/SCPU.gen/

# 仿真文件
*.vcd
*.fst
*.ghw

# 临时文件
*~
*.swp
*.swo
.DS_Store

